<nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2 mb-4 border-bottom">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link px-2 link-dark" href="/">Home</a>
        </li>
        <!-- Show different routes if logged in -->
        <li class="nav-item">
            <a class="nav-link px-2 link-dark" href="/posts/public/posts">Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-2 link-dark" href="/events/public/events">Events</a>
        </li>
        <!-- Show different routes if logged in -->
        <% if (typeof isLoggedIn !== 'undefined' && isLoggedIn === true) { %>
        <li class="nav-item">
            <a class="nav-link px-2 link-dark" href="/posts">My Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-2 link-dark" href="/events">My Events</a>
        </li>
        <% } %> 
    </ul>

    <ui class="nav">
        <% if (typeof isLoggedIn !== 'undefined' && isLoggedIn === true) { %>
            <li class="nav-item">
                <a class="nav-link px-2 link-dark" href="/logout">Logout</a>
            </li>
        <% } else { %>
            <li class="nav-item">
                <a class="nav-link px-2 link-dark" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2 link-dark" href="/signup">Sign up</a>
            </li>
        <% } %> 
    </ui>
</nav>